<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h3>双向数据绑定</h3>
    <p>{{ message }}</p>
    <input type="text" v-model="message">
    <h3>循环</h3>
    <ul>
        <li v-for="t in todos">{{t.text}}</li>
    </ul>
    <button @click="reverseMessage()">reverse</button>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!!',
            todos:[{text:'ol gaga'},{text:'ni daye'}]
        },
        methods:{
            reverseMessage:function () {
                this.message = this.message.split('').reverse().join('');
            }
        }
    })
</script>
</body>
</html>